body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: Arial, Helvetica, sans-serif;

}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;

}
nav ul li{
    width: 44px;
    padding: 0 12px;

}
.brand img{
    width: 42px;

}
ul{
    color: white;
    padding: 20px;
    border: 20px;
    display: flex;
}
.container{

}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mypogressbar{
    width: 80vw;
}